---
layout: default
---
{% assign game = site.data.games[page.title] %}

{% comment %}
{% if game.video %}
{% elsif game.header_image %}
  {% capture img_id %}{{game.header_image}}{% endcapture %}     
  <div class="page__hero{% if page.header.overlay_color or page.header.overlay_image %}--overlay{% endif %}"
style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %} {% if overlay_img_path %}background-image: {% if overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}), {% endif %}url('{{ overlay_img_path }}');{% endif %}"
>
    <div class="wrapper">
      <img src="{{ img_id | relative_url }}" alt="{{ image_description }}" class="page__hero-image"> 
    </div>  
  </div>
{% endif %}
{% endcomment %}
<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      {% if game.video %}
        {% capture vid_id %}{{game.video}}{% endcapture %}
        {% include video id=vid_id provider="youtube" %}

      {% elsif game.header_image %}
      {% capture img_id %}{{game.header_image}}{% endcapture %}
     
      <div class="page__hero{% if page.header.overlay_color or page.header.overlay_image %}--overlay{% endif %}"
  style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %} {% if overlay_img_path %}background-image: {% if overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}), {% endif %}url('{{ overlay_img_path }}');{% endif %}"
>
        <div class="wrapper">
          <img src="{{ img_id | relative_url }}" alt="{{ image_description }}" class="page__hero-image"> 
        </div>  
      </div>
      {% endif %}
      <p style="text-align: center;">
      {% for link in game.links %}
        {% if link.label and link.url %}
          <a href="{{ link.url }}" class="btn btn--inverse btn--x-large" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}</span></a>
        {% endif %} 
      {% endfor %}
      </p>

      {{ game.description | markdownify }}

      {% comment %}
      {% if game.features %}
        {% for feature in game.features %}
          {{ feature.label | markdownfiy }}

          {{ feature.description | markdownfiy }}
        {% endfor %}
      {% endif %}
      {% endcomment %}

      {% if game.gallery or game.galleries %}
        {% include gallery gameid=page.title %}
      {% endif %}
      {{ content }}
    </section>
  </article>
</div>
